# web folder
/web
/vhosts/
/log/
/tmp


build
build-assets

.*~
*.*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.idea

# base .htaccess
.htaccess
